*, *::before, *::after{
  margin:0;
  padding:0;
  font-family: 'Chewy', cursive;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --primary-color: #386362;
  --secondary-color: #FED248;
  --white-text: #FFFFFF;
  --background-color: #FCF8EE;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows:repeat(16,minmax(0,1fr));
  grid-template-columns:repeat(12,minmax(0,1fr));
}

.top{
  grid-column: span 12;
  grid-row: 1;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
}

.top__grid{
  width: 100%;
  height: 100%;
 display: grid;
 grid-template-rows:repeat(1,minmax(0,1fr));
 grid-template-columns:repeat(12,minmax(0,1fr));
}

.top__grid__logo{
  grid-column: 4 / span 6;
  grid-row: 1;
  color: var(--white-text);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.top__grid__reset{
  grid-column: 12 / span 1;
  grid-row: 1;
  border-radius: 50%;
  font-size: 1.5rem;

}

.container__kleding{
  margin: 2rem;
  grid-column: span 12;
  grid-row: 3 / span 3;

}

.container__kleding__list{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6,minmax(0,1fr));
  grid-template-rows: repeat(1,minmax(0,1fr));
  grid-column-gap: 2rem;
}

.container__kleding__list__item{
  list-style: none;
  grid-column: span 2;
  border: 0.5rem solid var(--primary-color);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container__kleding__list__item:hover{
  border: 0.5rem solid var(--secondary-color);

}

.container__kleding__list__item__image{
  max-width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}

.container__dier{
  grid-column: 2 / span 10;
  grid-row: 7 / span 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__dier__image{
  max-width: 100%;
  height: 100%;
}

.menu{
  grid-column: 2 / span 10;
  grid-row: 15;
  background-color: var(--primary-color);
  border-radius: 4rem;
}
