*, *::before, *::after{
  margin:0;
  padding:0;
  font-family: 'Chewy', cursive;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --primary-color: #386362;
  --secondary-color: #FED248;
  --white-text: #FFFFFF;
  --background-color: #FCF8EE;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows:repeat(16,minmax(0,1fr));
  grid-template-columns:repeat(12,minmax(0,1fr));
}

.container__top{
  grid-column: span 12;
  grid-row: 1;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
}

.container__top__grid{
  width: 100%;
  height: 100%;
 display: grid;
 grid-template-rows:repeat(1,minmax(0,1fr));
 grid-template-columns:repeat(12,minmax(0,1fr));
}

.container__top__grid__logo{
  grid-column: 4 / span 6;
  grid-row: 1;
  color: var(--white-text);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container__top__grid__terug{
  grid-column: 1 / span 1;
  grid-row: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid var(--white-text);
  background-color: var(--primary-color);
  display: inline-block;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}

.container__top__grid__terug__logo{
    color: var(--white-text);
    text-decoration: none;

}

.container__top__grid__terug:hover{
  border: 0.2rem solid var(--secondary-color);
  color: var(--secondary-color);
}

.container__menu{
  grid-column: 2 / span 10;
  grid-row: 15;
  background-color: var(--primary-color);
  border-radius: 4rem;
}

.container__menu__grid{
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  display: grid;
  grid-template-rows:repeat(1,minmax(0,1fr));
  grid-template-columns:repeat(25,minmax(0,1fr));
}

.container__menu__grid__item{
  grid-column: span 11;
  grid-row: 1;
}

.container__menu__grid__item__image{
  max-width: 100%;
  height: 100%;

}
