
.container{
  overflow: hidden;
}


.container__foto{
  width: 100%;
  grid-column: 1 / span 12;

}
.container__azie{
  grid-column:3;
  grid-row: 9;
  text-align: center;
  width: 8rem;
}
.container__noordpool{
  grid-column:8;
  grid-row: 9;
  text-align: center;
  width: 8rem;
}
.container__savanne{
  grid-column:3;
  grid-row: 12;
  text-align: center;
  width: 8rem;
}
.container__plein{
  grid-column:8;
  grid-row: 12;
  text-align: center;
  width: 8rem;
}

.container__plein__afbeelding{
  width: 100%;

}
.container__noordpool__afbeelding{
  width: 100%;
}
.container__savanne__afbeelding{
  width: 100%;
}
.container__azie__afbeelding{
  width: 100%;
}
.container__plein__tekst{
  font-size: 18px;
}
.container__noordpool__tekst{
  font-size: 18px;
}
.container__savanne__tekst{
  font-size: 18px;
}
.container__azie__tekst{
  font-size: 18px;
}
.container__plantrechtsonder{
  grid-column:8 / span 12;
  grid-row: 14/ span 4;
  text-align: center;
  overflow:hidden;


}
.container__plantrechtsonder__afbeelding{
  width: 21rem;
  overflow:hidden;

}

.container__plantlinksonder{
  grid-column:1/ span 8;
  grid-row: 14/ span 4;
  overflow:hidden;


}
.container__plantlinksonder__afbeelding{
  width: 16rem;
  overflow:hidden;


}
.container__plantrechtsmidden{
  grid-column:8 / span 12;
  grid-row: 5/ span 3;
  text-align: center;


}
.container__plantrechtsmidden__afbeelding{
  width: 21rem;

}

.container__plantlinksmidden{
  grid-column:1/ span 8;
  grid-row: 4/ span 3;


}
.container__plantlinksmidden__afbeelding{
  width: 15rem;
  overflow:hidden;


}

@media only screen and (min-width: 375px){
  .container__azie{
    width: 9rem;
  }
  .container__noordpool{
    width: 9rem;
  }
  .container__savanne{
    width: 9rem;
  }
  .container__plein{
    width: 9rem;
  }

}

@media only screen and (min-width: 375px) and (min-height : 740px){
  .container__azie{
    grid-row: 8;
    width: 10rem;
  }
  .container__noordpool{
    grid-row: 9;
    width: 10rem;
  }
  .container__savanne{
    grid-row: 11;
    width: 10rem;
  }
  .container__plein{
    grid-row: 12;
    width: 10rem;
  }

}

@media only screen and (min-width: 430px){
  .container__azie{
    grid-column:3;
    grid-row: 9;
    width: 8rem;
  }
  .container__noordpool{
    grid-column:8;
    grid-row: 10;
    width: 8rem;
  }
  .container__savanne{
    grid-column:3;
    grid-row: 12;
    width: 8rem;
  }
  .container__plein{
    grid-column:8;
    grid-row: 13;
    width: 8rem;
  }

  .container__plein__tekst{
    font-size: 18px;
  }
  .container__noordpool__tekst{
    font-size: 18px;
  }
  .container__savanne__tekst{
    font-size: 18px;
  }
  .container__azie__tekst{
    font-size: 18px;
  }

}
