.container{
  max-height: 100vh;
}


.container__titel__giraf{
  grid-column:3/span 3;
  grid-row: 2;
  text-align: center;
  margin-top: 20%;
  font-size: 18px;
}
.container__titel__pinguin{
  grid-column:8/span 3;
  grid-row: 6;
  text-align: center;
  margin-top: 20%;
  font-size: 18px;

}
.container__titel__olifant{
  grid-column:3/ span 3;
  grid-row: 10;
  text-align: center;
  margin-top: 20%;
  font-size: 18px;

}

.container__giraf{
  grid-column:2;
  grid-row: 3;
  text-align: center;

}
.container__pinguin{
  grid-column:7;
  grid-row: 7;

}
.container__olifant{
  grid-column:2;
  grid-row: 11;

}
.container__giraf__vraagteken{
  width: 16rem;
}
.container__giraf__dier{
  width: 16rem;
}
.container__pinguin__vraagteken{
  width: 16rem;
}
.container__pinguin__dier{
  width: 16rem;
}
.container__olifant__vraagteken{
  width: 16rem;
}
.container__olifant__dier{
  width: 16rem;
}
.container__plantrechtsonder{
  grid-column:8 / span 12;
  grid-row: 14/ span 4;
  text-align: center;
  overflow:hidden;


}
.container__plantrechtsonder__afbeelding{
  width: 21rem;
  overflow:hidden;

}

.container__plantlinksonder{
  grid-column:1/ span 8;
  grid-row: 14/ span 4;
  overflow:hidden;


}
.container__plantlinksonder__afbeelding{
  width: 16rem;
  overflow:hidden;


}
.container__aapjelinksmidden{
  grid-column:1/ span 8;
  grid-row:6/ span 6;
  overflow:hidden;

}

.container__aapjelinksmidden__afbeelding{
  width: 10rem;
}

.container__takjeslinksmidden{
  grid-column:1/ span 4;
  grid-row:8/ span 4;
  overflow:hidden;

}
.container__takjeslinksmidden__afbeelding{
    width: 10rem;
}

@media only screen and (max-width: 330px){

  .container__aapjelinksmidden__afbeelding{
    width: 6rem;
  }
  .container__takjeslinksmidden__afbeelding{
      width: 6rem;
  }
  .container__giraf__vraagteken{
    width: 12rem;
  }
  .container__giraf__dier{
    width: 12rem;
  }
  .container__pinguin__vraagteken{
    width: 12rem;
  }
  .container__pinguin__dier{
    width: 12rem;
  }
  .container__olifant__vraagteken{
    width: 12rem;
  }
  .container__olifant__dier{
    width: 12rem;
  }
}
